<div class="column is-one-third">
    <div class="box">
        <div data-id="{{id}}">
            <h1 class="title">{{item}}</h1>
            <h1 class="subtitle">Description: {{description}}</h1>
            <h1 class="subtitle">Category: {{category}}</h1>
            <h1 class="subtitle">${{price}}</h1>
            <h1 class="subtitle">From Seller:</h1>
            <h1 class="subtitle">{{seller}}</h1>
            <button class="buyBtn button">Buy It!</button>
        </div>
    </div>
</div>